/* reset CSS */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

ul,
ol {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

input[type=checkbox]:disabled,
input[type=radio]:disabled,
button:disabled,
input[type=checkbox]:disabled:checked,
input[type=radio]:disabled:checked {
  cursor: not-allowed;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.5rem;

  &:hover {
    background-color: #555;
  }
}

.btn-primary {
  background-color: #007BFF;
  color: #fff;

  &:hover {
    background-color: #0069d9;
  }
}

.btn-outline-primary {
  background-color: transparent;
  color: #007BFF;
  font-weight: bold;
  border: 2px solid #007BFF;

  &:hover {
    background-color: #007BFF;
    color: #fff;
  }
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

/* Navigation */
nav {
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

/* Main */
.main {
  padding: 1rem;
  height: 100%;
  min-height: calc(100vh - 6rem - 5rem);
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.pages-list-title {
  text-decoration: underline;
}

.pages-list-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.return-home-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.separator {
  width: 75%;
  height: 1px;
  margin: 1rem auto;
}

/* Exos */
.exos-container {
  margin-top: 1rem;
  display: grid;
  grid-template-areas:
    "title title"
    "code exos";
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 1rem;

}

.exos-title {
  font-size: 1.8rem;
  color: #1e293b;
  grid-area: title;
  text-align: center;
}

.code-container {
  background: #444;
  color: #fff;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  grid-area: code;
}

.code-title,
.exo-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.code {
  font-family: 'Courier New', monospace;
  font-size: 0.9rem;
  line-height: 1.5;
}

.exo {
  background: #ddd;
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  grid-area: exos;
  display: flex;
  flex-direction: column;
}

.exo-result {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  height: 100%;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}